---
title: About Us
description: >-
 We're a group of passionate students, hobbyists and enthusiasts that want to push the boundaries of what's possible for rocketry at a non-commercial level. 
---


<p>Founded in mid 2019, the Vancouver Rocketry Society was formed by several UBC Rocket members out of the idea that there should be a partnership and unification between the many organizations and people excited about rocketry throughout Vancouver. In particular, the society strives to provide an organization through which many of the logistical and technical difficulties associated with developing rockets, such as acquiring space to test engines and launches, could be made easier through the use of shared resources. </p>

<p>If you live in the Greater Vancouver Region and have a rocketry related project you are working on, need help with or just want to show off the Vancouver Rocketry Society is the right place for you! </p>

<!-- <h2>Founding Members</h2> -->

<!-- <ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name">{{ person.name }}</div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul> -->
